venv
.venv/
.venv/bin/
.venv/lib/python3.11/site-packages/
core/agents/__pycache__/
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/_pycache__
*/*/*/*/__pycache__
node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
*/*/*/*/_node_modules
screenshots
test_logs